# Python files
*.pyc
__pycache__/
.pytest_cache/

# Virtual environment
venv/
env/

# IDE specific files
.idea/
.vscode/

# Build files
dist/
build/

# Test files
*.egg-info/
.eggs/

# Logs and other non-essential files
logs/
*.log